<%= form_with(model: @student_score, local: true) do |form| %>
  <% if @student_score.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student_score.errors.count, "error") %> prohibited this student_score from being saved:</h2>

      <ul>
        <% @student_score.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :student_id %>
    <%= form.text_field :student_id %>
  </div>

  <div class="field">
    <%= form.label :subject1 %>
    <%= form.text_field :subject1 %>
  </div>

  <div class="field">
    <%= form.label :subject2 %>
    <%= form.text_field :subject2 %>
  </div>

  <div class="field">
    <%= form.label :subject3 %>
    <%= form.text_field :subject3 %>
  </div>

  <div class="field">
    <%= form.label :subject4 %>
    <%= form.text_field :subject4 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
